{{template "base" .}}

{{define "content"}}

<h3>About</h3>
<p class="pad-b">
This website details many of the projects I have worked on,
including the generative artwork I have made and the various steganography
techniques I have implemented. For each project, I will be displaying
and explaining the concept briefly to give a basic idea of how each
project works as well as introducing the theory used in project. If you have
questions or would like to contact me, you can email
<a href="mailto:james.thomas.vaughn@gmail.com">james.thomas.vaughn@gmail.com.</a>
</p>

<h3>Generative Art</h3>
<p class="pad-b">
Generative art is art that is produced through the use of computers and algorithms rather than
by individuals. It focuses more on the process of creating the piece rather than the final outcome.
I like this style of art as I like learning about theoretical concepts and applying it in creative ways.
This gives me a chance to research into cool concepts and ideas and learn more about them as I
apply them to a canvas. Plus, the results often look pretty cool.
<a href="/art">Here is a list of the art pieces I have completed.</a>
</p>

<h3>Steganography</h3>
<p class="pad-b">
Steganography is the art of hiding secret data within seemingly safe data.
Unlike cryptology, in which the goal is to make a message unreadable,
steganography seeks to conceal the message so that its presence in unknown.
Steganography is often utilized to circumvent restrictions on communication
and as a means of tracing data back to an individual (as in the case of DRM).
I have implemented several forms of image steganography, including techniques
which hide messages in the color data of images (spatial techniques) and
those which hide messages in transforms of images (frequency techniques).
I have also implemented several wardens, or means for destroying or uncovering
steganographic messages.
<a href="/steganography">Here is a list of the steganographic techniques I have implemented.</a>
</p>

{{end}}