{{template "base" .}}

{{define "content"}}

<p>
This website details the generative artwork that I have made since the start of 2018.
Generative art is art that is produced through the use of computers and algorithms rather than
by individuals. It focuses more on the process of creating the piece rather than the final outcome.
I like this style of art as I like learning about theoretical concepts and applying it in creative ways.
This gives me a chance to research into cool concepts and ideas and learn more about them as I
apply them to a canvas. Plus, the results often look pretty cool. Below are some of the pieces I've made.
<a href="/projects">Here is a list of the projects I have completed.</a>
</p>

{{end}}