{{template "base" .}}

{{define "content"}}

<p>
    <table id="post-table">
        {{range .projects}}
        <tr>
            <td><a href="/{{.Controller}}/{{.Url}}">{{.Title}}</a></td>
            <td>{{.Description}}</td>
        </tr>
        {{end}}
    </table>
</p>

{{end}}