{{template "base" .}}

{{define "content"}}

<p>
    <ol align="left">
        <li>
            <a href="/projects/termites">Termite Cellular Automata</a>
        </li>
        <li>
            <a href="/projects/particles">Particle Systems</a>
        </li>
        <li>
            <a href="/projects/markovchains">Markov Chains</a>
        </li>
        <li>
            <a href="/projects/seircolor">Seir Model - Color</a>
        </li>
    </ol>
</p>

{{end}}