{{template "base" .}}

{{define "content"}}

<img src="" class="header-img" />

<h3>Concept</h3>
<p>

</p>

<h3>Generation</h3>
<p>

</p>

<h3>Post Processing</h3>
<p>

</p>

<div class="pad-t pad-b">
    <img src="" class="display-img" />
    <img src="" class="display-img" />
    <img src="" class="display-img" />
</div>
{{end}}