{{define "base"}}

<link rel="stylesheet" type="text/css" href="/Public/Css/base.css" />
{{block "stylesheets" .}}
{{end}}

<html>

{{template "header" .}}
{{template "menu" .}}

<div class="container pad-b">
    <div id="content" class="pad-t container">
        {{template "projectLinks" .}}

        {{block "content" .}}
        {{end}}

        {{template "projectLinks" .}}
    </div>
</div>

<script type="text/javascript" src="/Public/Scripts/index.js"></script>
{{block "scripts" .}}
{{end}}
</html>
{{end}}
