{{define "header"}}
<div class="container">
    <div id="navbar">
        <div><img src="/Public/Images/Misc/hamburgerMenu.png" id="menu-icon" /></div>
        <div><h1 id="title">{{ .title }}</h1></div>
    </div>
</div>
{{end}}