{{define "header"}}
<div class="container">
    <div id="navbar">
        <table>
            <tr>
                <td>
                    <img src="/Public/Images/Misc/hamburgerMenu.png" id="menu-icon" />
                </td>
                <td>
                    <h1>
                    {{ .title }}
                    </h1>
                </td>
            </tr>
        </table>
    </div>
</div>
{{end}}