{{define "menu"}}
<div id="menu" class="fade">
    <div class="dropdown-content">
        <a href="/">Home</a>
        <a href="/art">Generative Art</a>
        <a href="/steganography">Steganography</a>
    </div>
</div>
{{end}}