* {
    /*font-family: courier;*/
    font-family: Geneva;
    color: #E0E0E0;
}

html {
    background: #222222;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

p {
    padding-top: 10px;
    margin: 0;
    font-size: 20px;
    text-align: justify;
}

a {
    color: #90B0DA;
    text-decoration: none;
}

a:hover {
    color: #B0B0E0;
}

#title {
    text-align: center;
    margin: 0;
    font-size: 40px;
}

#menu {
    position: relative;
    display: inline-block;
    padding-left: 8%;
}

#menu-icon {
    padding-left: 20px;
    height: 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444444;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    font-size: 24px;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    border-radius: 15px;

    transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
}

.dropdown-content a:hover {
    background: #4c4c4c;
    border-radius: 15px;
}

.header-img {
    width: 100%;
}

.display-img-2 {
    width: 49%;
    text-align: justify;
}

.display-img-3 {
    width: 31%;
    text-align: justify;
}

#navbar {
    display: inline;
}

#navbar > div:first-child{
    float: left;
    padding-top: 12px;
}

#navbar > div{
    width: auto;
    background: #655555;
    border-radius: 15px;
}


#content {
    text-align: center;
    background: #655555;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.pad-t {
    padding-top: 30px;
}

.pad-b {
    padding-bottom: 30px;
}

#post-table {
    padding-top: 10px;
    margin: 0;
    font-size: 22px;
    text-align: justify;
}

#post-table td:first-child {
    width: 20%;
}

#post-table td {
    width: 50%;
}

#next-prev {
    width: 100%;
    display: inline-block;
}



#next-prev div:first-child {
    text-align: left;
    width: 33%;
    float: left;
}

#next-prev div {
    text-align: right;
    width: 33%;
    display: inline;
}