html {
    background: lightgray;
}
h1 {
    text-align: center;
}

ul, p {
    padding-top: 15px;
}

p {
    text-align: justify;
}

* {
    font-family: courier;
    font-weight: bold;
}

.header-img-f {
    width: 100%;
}

.header-img-sq {
    width: 500px;
}

.display-img-f {
    width: 450px;
    text-align: justify;
}

.display-img-sq {
    width: 30%;
    text-align: justify;
}

#navbar {
    background: antiquewhite;
    border-radius: 15px;
}

#content {
    text-align: center;
    background: antiquewhite;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
    border-radius: 15px;
}

.pad-t {
    padding-top: 30px;
}

.pad-b {
    padding-bottom: 30px;
}