html {
    background: lightgray;
}
h1 {
    text-align: center;
}

ul, p {
    padding-top: 15px;
}

p {
    text-align: justify;
}

* {
    font-family: courier;
    font-weight: bold;
}

.header-img-f {
    width: 900px;
    height: 500px;
}

.header-img-sq {
    width: 500px;
    height: 500px;
}

.display-img-f {
    width: 450px;
    height: 250px;
    text-align: justify;
}

.display-img-sq {
    width: 32%;
    height: 32%;
    text-align: justify;
}

#content {
    text-align: center;
    background: antiquewhite;
}

.pad-c {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}

.pad-t {
    padding-top: 30px;
}

.pad-b {
    padding-bottom: 30px;
}